<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yns.wallet">

    <uses-permission android:name="android.permission.READ_CLIPBOARD"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Android 13版本适配，细化存储权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallet"
        tools:targetApi="31">

        <activity android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">


        </activity>

        <activity android:name=".activity.ImportOrCreateWallet"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ImportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.Import2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CreateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.DetailResetPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CreateStepImportActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReceiveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SwapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NetworksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WalletDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddTokenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomTokensActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.CustomNetworksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TransactionRecordsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectLanguageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelectTokenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AssetsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AssetsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoopActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BackUpRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BackUpPrivateKeyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BackUpMnemonicActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BackUpMnemonic2Activity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>